name: NewRelic Metrics to Sheets

on:
  schedule:
    - cron: '0 23 * * *' # Run at midnight Nigerian time (11:00 PM UTC)

jobs:
  collect-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Setup Google Service Account
        run: |
          echo '${{ secrets.GOOGLE_SERVICE_ACCOUNT_BASE64 }}' | base64 -d > service_account.json
      - name: Run metrics collection
        run: python fetch_nr.py
        env:
          NEW_RELIC_API_KEY: ${{ secrets.NEW_RELIC_API_KEY }}
          ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
          GOOGLE_APPLICATION_CREDENTIALS: service_account.json
